In [1]:
import pandas as pd 
import numpy as np

In [2]:
# read the dataset
df = pd.read_csv("../fooddelivery_data/Food_Time_Data_Set.csv")
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Unnamed: 14,Traffic_Level,Distance (km),TARGET
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,17.11,77.0,0.0,haze,NaN,Low,NaN,21.66666667
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,19.50,93.0,0.0,mist,NaN,Very High,37.17,85.26666667
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,20.45,91.0,0.0,mist,NaN,Low,3.34,28.58333333
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,23.86,78.0,0.0,mist,NaN,Moderate,10.05,35.18333333
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,26.55,87.0,0.0,mist,NaN,High,9.89,43.45

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           10000 non-null  object
 1   Delivery_person_ID           10000 non-null  object
 2   Delivery_person_Age          10000 non-null  float64
 3   Delivery_person_Ratings      10000 non-null  float64
 4   Restaurant_latitude          10000 non-null  float64
 5   Restaurant_longitude         10000 non-null  float64
 6   Delivery_location_latitude   10000 non-null  float64
 7   Delivery_location_longitude  10000 non-null  float64
 8   Type_of_order                10000 non-null  object
 9   Type_of_vehicle              10000 non-null  object
 10  temperature                  9995 non-null   float64
 11  humidity                     9995 non-null   float64
 12  precipitation                9995 non-null   float64
 13  weather_description          9995 non-null   object
 14  Unnamed: 14                  0 non-null      float64
 15  Traffic_Level                9085 non-null   object
 16  Distance (km)                9080 non-null   float64
 17  TARGET                       9459 non-null   object
dtypes: float64(11), object(7)
memory usage: 1.4+ MB

In [4]:
df.isna().sum()

ID                                 1
Delivery_person_ID                 1
Delivery_person_Age                1
Delivery_person_Ratings            1
Restaurant_latitude                1
Restaurant_longitude               1
Delivery_location_latitude         1
Delivery_location_longitude        1
Type_of_order                      1
Type_of_vehicle                    1
temperature                        6
humidity                           6
precipitation                      6
weather_description                6
Unnamed: 14                    10001
Traffic_Level                    916
Distance (km)                    921
TARGET                           542
dtype: int64

In [5]:
# Unnamed: 14 has all blank values
clean_df = df.drop(columns=['Unnamed: 14'],axis=1)
clean_df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Traffic_Level,Distance (km),TARGET
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,17.11,77.0,0.0,haze,Low,NaN,21.66666667
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,19.50,93.0,0.0,mist,Very High,37.17,85.26666667
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,20.45,91.0,0.0,mist,Low,3.34,28.58333333
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,23.86,78.0,0.0,mist,Moderate,10.05,35.18333333
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,26.55,87.0,0.0,mist,High,9.89,43.45

In [6]:
print(clean_df.shape)

(10001, 17)

In [7]:
# check if there are any rows in the DataFrame where all values are NaN
has_all_nan = clean_df.isna().all(axis=1).any()
print(f"Are there any rows with all NaN values? {has_all_nan}")

Are there any rows with all NaN values? True

In [8]:
# count how many such rows exist
all_nan_count = clean_df.isna().all(axis=1).sum()
print(f"Number of rows with all NaN values: {all_nan_count}")

Number of rows with all NaN values: 1

In [9]:
# display all rows where every column contains NaN
# all_nan_rows = clean_df[clean_df.isna().all(axis=1)]
# print(all_nan_rows)

# display only the indices of these rows
all_nan_indices = clean_df[clean_df.isna().all(axis=1)].index
print(f"Indices of rows with all NaN values: {list(all_nan_indices)}")
rows = clean_df.loc[all_nan_indices]
print(rows)

Indices of rows with all NaN values: [10000]
        ID Delivery_person_ID  Delivery_person_Age  Delivery_person_Ratings  \
10000  NaN                NaN                  NaN                      NaN

       Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
10000                  NaN                   NaN                         NaN

       Delivery_location_longitude Type_of_order Type_of_vehicle  temperature  \
10000                          NaN           NaN             NaN          NaN

       humidity  precipitation weather_description Traffic_Level  \
10000       NaN            NaN                 NaN           NaN

       Distance (km) TARGET
10000            NaN    NaN

In [10]:
# Drop rows with all NaN values
clean_df = clean_df.dropna(how='all')

In [11]:
print(clean_df.shape)

(10000, 17)

In [12]:
clean_df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Traffic_Level,Distance (km),TARGET
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,17.11,77.0,0.0,haze,Low,NaN,21.66666667
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,19.50,93.0,0.0,mist,Very High,37.17,85.26666667
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,20.45,91.0,0.0,mist,Low,3.34,28.58333333
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,23.86,78.0,0.0,mist,Moderate,10.05,35.18333333
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,26.55,87.0,0.0,mist,High,9.89,43.45

In [13]:
clean_df.isna().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Type_of_order                    0
Type_of_vehicle                  0
temperature                      5
humidity                         5
precipitation                    5
weather_description              5
Traffic_Level                  915
Distance (km)                  920
TARGET                         541
dtype: int64

In [14]:
# calculate the percentage of null values for each column
nan_percentage = ((clean_df.isna().sum() / len(clean_df)) * 100).round(2)
nan_percentage = nan_percentage[nan_percentage > 0].sort_values(ascending=False)
print(nan_percentage)

Distance (km)          9.20
Traffic_Level          9.15
TARGET                 5.41
precipitation          0.05
humidity               0.05
temperature            0.05
weather_description    0.05
dtype: float64

In [15]:
# remove rows that have missing values in the column 'TARGET'
clean_df = clean_df.dropna(subset=['TARGET'])

In [16]:
# replace 0.0 values with nan to teat them as null values
columns_to_replace = ['Restaurant_latitude', 'Restaurant_longitude', 
                       'Delivery_location_latitude', 'Delivery_location_longitude']
clean_df[columns_to_replace] = clean_df[columns_to_replace].replace(0.0, np.nan)
print(clean_df.isna().sum())

ID                               0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude            307
Restaurant_longitude           307
Delivery_location_latitude       0
Delivery_location_longitude      0
Type_of_order                    0
Type_of_vehicle                  0
temperature                      0
humidity                         0
precipitation                    0
weather_description              0
Traffic_Level                  419
Distance (km)                  424
TARGET                           0
dtype: int64

In [17]:
# remove rows that have missing values in the column Restaurant_latitude, Restaurant_longitude
clean_df = clean_df.dropna(subset=['Restaurant_latitude','Restaurant_longitude'])

In [18]:
clean_df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,temperature,humidity,precipitation,Distance (km)
count,9152.00000,9152.000000,9152.000000,9152.000000,9152.000000,9152.000000,9152.000000,9152.000000,9152.000000,9035.000000
mean,29.52382,4.626464,18.397783,76.279822,18.957159,77.041440,22.624415,64.587194,0.000373,14.275582
std,5.69669,0.325866,6.954676,10.937251,5.468639,3.557927,3.361800,15.366987,0.018198,8.372376
min,15.00000,1.000000,-30.902872,-88.352885,9.967144,72.778726,6.770000,27.000000,0.000000,1.550000
25%,25.00000,4.500000,12.979166,73.897902,13.063298,73.949315,19.947500,52.000000,0.000000,7.610000
50%,29.00000,4.700000,18.994237,76.619103,19.119300,76.673067,22.860000,65.000000,0.000000,13.400000
75%,34.00000,4.800000,22.748060,78.368855,22.818163,78.407865,25.000000,73.000000,0.000000,19.590000
max,50.00000,6.000000,30.914057,88.433452,31.054057,88.563452,29.050000,94.000000,1.460000,59.840000

In [19]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9152 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           9152 non-null   object
 1   Delivery_person_ID           9152 non-null   object
 2   Delivery_person_Age          9152 non-null   float64
 3   Delivery_person_Ratings      9152 non-null   float64
 4   Restaurant_latitude          9152 non-null   float64
 5   Restaurant_longitude         9152 non-null   float64
 6   Delivery_location_latitude   9152 non-null   float64
 7   Delivery_location_longitude  9152 non-null   float64
 8   Type_of_order                9152 non-null   object
 9   Type_of_vehicle              9152 non-null   object
 10  temperature                  9152 non-null   float64
 11  humidity                     9152 non-null   float64
 12  precipitation                9152 non-null   float64
 13  weather_description          9152 non-null   object
 14  Traffic_Level                9040 non-null   object
 15  Distance (km)                9035 non-null   float64
 16  TARGET                       9152 non-null   object
dtypes: float64(10), object(7)
memory usage: 1.3+ MB

In [20]:
order_type_df = clean_df['Type_of_order'].value_counts()
order_type_df

Type_of_order
Snack      2335
Meal       2315
Drinks     2299
Buffet     2203
Name: count, dtype: int64

In [21]:
vehicle_type_df = clean_df['Type_of_vehicle'].value_counts()
vehicle_type_df

Type_of_vehicle
motorcycle           5400
scooter              3010
electric_scooter      724
bicycle                18
Name: count, dtype: int64

In [22]:
traffic_Level_df = clean_df['Traffic_Level'].value_counts() 
traffic_Level_df

Traffic_Level
High         2730
Moderate     2212
Very High    1748
Low          1718
Very Low      632
Name: count, dtype: int64

In [23]:
weather_description_df = clean_df['weather_description'].value_counts()
weather_description_df

weather_description
clear sky           3260
haze                2406
mist                1751
broken clouds        537
smoke                501
scattered clouds     422
overcast clouds      185
fog                   49
few clouds            40
moderate rain          1
Name: count, dtype: int64

In [24]:
numerical_columns = clean_df.select_dtypes(include=['number']).columns
len(numerical_columns)

10

In [25]:
categorical_columns = clean_df.select_dtypes(include=['object']).columns
len(categorical_columns)

7

In [26]:
clean_df.shape

(9152, 17)

In [27]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9152 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           9152 non-null   object
 1   Delivery_person_ID           9152 non-null   object
 2   Delivery_person_Age          9152 non-null   float64
 3   Delivery_person_Ratings      9152 non-null   float64
 4   Restaurant_latitude          9152 non-null   float64
 5   Restaurant_longitude         9152 non-null   float64
 6   Delivery_location_latitude   9152 non-null   float64
 7   Delivery_location_longitude  9152 non-null   float64
 8   Type_of_order                9152 non-null   object
 9   Type_of_vehicle              9152 non-null   object
 10  temperature                  9152 non-null   float64
 11  humidity                     9152 non-null   float64
 12  precipitation                9152 non-null   float64
 13  weather_description          9152 non-null   object
 14  Traffic_Level                9040 non-null   object
 15  Distance (km)                9035 non-null   float64
 16  TARGET                       9152 non-null   object
dtypes: float64(10), object(7)
memory usage: 1.3+ MB

In [28]:
clean_df.isna().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Type_of_order                    0
Type_of_vehicle                  0
temperature                      0
humidity                         0
precipitation                    0
weather_description              0
Traffic_Level                  112
Distance (km)                  117
TARGET                           0
dtype: int64

In [30]:
import requests

# Define the function to calculate distance using OSRM API
def calculate_distance(row):
    try:
        # Extract latitude and longitude values from the row
        restaurant_lat = row['Restaurant_latitude']
        restaurant_lon = row['Restaurant_longitude']
        delivery_lat = row['Delivery_location_latitude']
        delivery_lon = row['Delivery_location_longitude']
        
        # Define the OSRM API endpoint (replace with your endpoint if needed)
        osrm_endpoint = "http://router.project-osrm.org/route/v1/driving/"
        
        # Build the request URL
        coordinates = f"{restaurant_lon},{restaurant_lat};{delivery_lon},{delivery_lat}"
        url = f"{osrm_endpoint}{coordinates}?overview=false"
        
        # Send the request to OSRM API
        response = requests.get(url)
        data = response.json()
        
        # Extract the distance from the response (in meters)
        if response.status_code == 200 and 'routes' in data:
            return data['routes'][0]['distance'] / 1000  # Convert to kilometers
        else:
            print(f"Failed for row {row.name}: {data}")
            return None  # Return None if the request fails or no route is found
    except Exception as e:
        print(f"Error calculating distance for row {row.name}: {e}")
        return None
    
new_df = clean_df.copy()    

# Apply the function to rows with NaN in the 'distance' column
clean_df['Distance (km)'] = clean_df.apply(
    lambda row: calculate_distance(row) if pd.isna(row['Distance (km)']) else row['Distance (km)'],
    axis=1
)

# Verify the updated DataFrame
print(clean_df['Distance (km)'].isna().sum())  # Should show the remaining NaN values (if any)
print(new_df['Distance (km)'].isna().sum())  # Should show the remaining NaN values (if any)

Failed for row 1976: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 2138: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 2689: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 2759: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 3944: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 5217: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 5350: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 5743: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 5992: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 6093: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 6431: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 7988: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 8422: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 9220: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 9758: {'message': 'Impossible route between points', 'code': 'NoRoute'}
Failed for row 9921: {'message': 'Impossible route between points', 'code': 'NoRoute'}
16
117

In [31]:
no_route_rows = clean_df.loc[[9758, 9921]]
print(no_route_rows[['Restaurant_latitude', 'Restaurant_longitude', 
                     'Delivery_location_latitude', 'Delivery_location_longitude']])

      Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
9758           -22.538999             88.322337                   22.598999
9921           -22.537960             88.349843                   22.607960

      Delivery_location_longitude
9758                    88.382337
9921                    88.419843

In [35]:
clean_df.loc[3944]

ID                                           56C
Delivery_person_ID              RANCHIRES13DEL03
Delivery_person_Age                         29.0
Delivery_person_Ratings                      4.6
Restaurant_latitude                   -23.374989
Restaurant_longitude                   85.335486
Delivery_location_latitude             23.434989
Delivery_location_longitude            85.395486
Type_of_order                              Meal
Type_of_vehicle                electric_scooter
temperature                                16.23
humidity                                    94.0
precipitation                                0.0
weather_description                         mist
Traffic_Level                                NaN
Distance (km)                                NaN
TARGET                                   #VALUE!
Name: 3944, dtype: object

In [36]:
# remove rows that have missing values in the column 'Distance (km)'
clean_df = clean_df.dropna(subset=['Distance (km)'])

In [37]:
clean_df.isna().sum()

ID                              0
Delivery_person_ID              0
Delivery_person_Age             0
Delivery_person_Ratings         0
Restaurant_latitude             0
Restaurant_longitude            0
Delivery_location_latitude      0
Delivery_location_longitude     0
Type_of_order                   0
Type_of_vehicle                 0
temperature                     0
humidity                        0
precipitation                   0
weather_description             0
Traffic_Level                  96
Distance (km)                   0
TARGET                          0
dtype: int64